@font-face{
    font-family: "Avenir";
    src: url("Avenir.otf")format("opentype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Avenir";
}
/*
*{
box-sizing: border-box
}
Code Reference:
Easy Tutorial. (2019). How To Make Drop Down Menu Using HTML And CSS | HTML Website Tutorials [Video]. Retrieved 6 May 2020, from https://www.youtube.com/watch?v=wHFflWvii3M&t=522s.
*/

h1{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 50px;
}

body {
    background-color: coral;
    width:100%;
    height:100%;
}

#menu-bar {
    width:100%;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    background-color: cornsilk;
    font-size: 22px;
}

#menu-bar ul {
    display: inline-flex;
    list-style: none;
}
/*
#menu-bar ul {
    display: inline-flex;
    list-style: none;
}
Code Reference:
Easy Tutorial. (2019). How To Make Drop Down Menu Using HTML And CSS | HTML Website Tutorials [Video]. Retrieved 6 May 2020, from https://www.youtube.com/watch?v=wHFflWvii3M&t=522s.
*/

#menu-bar ul li{
    width: 200px;
    margin: 15px;
    padding: 0px;
    position: relative;
    border-radius: 5px;
}

#menu-bar ul li a{
    color:black;
    text-decoration: none;
}


.submenu {
    position:relative;
    display: none;
    font-size: 18px;
    padding:20px;
    border-radius: 10px;
    z-index: 1;
}

#menu-bar ul li a:hover {
    color: rgb(109, 171, 230);
}

#menu-bar ul li:hover .submenu{
    display: block;
    position: absolute;
    background-color: cornsilk;
}
/*
#menu-bar ul li:hover .submenu{
    display: block;
    position: absolute;
}
Code Reference:
Easy Tutorial. (2019). How To Make Drop Down Menu Using HTML And CSS | HTML Website Tutorials [Video]. Retrieved 6 May 2020, from https://www.youtube.com/watch?v=wHFflWvii3M&t=522s.
*/

#menu-bar ul li:hover .submenu ul{
    display: block;
}

#menu-bar ul li:hover .submenu ul li{
    text-align: center;
}

#menu-bar ul li:hover .submenu ul li a:hover{
    color:rgb(218, 97, 97);
    text-decoration: none;
}

#main-pic{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#main-content{
    width: 93%;
    display: flex;
    height: auto;
    margin: 0px auto 20px auto;
    position: relative;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(109, 171, 230);
}

#main-content section p{
    margin: 20px 0px;
}


#main-content section {
    margin: 20px 0px;
}

#main-content section dl dt {
    margin-top: 20px;
    margin-bottom: 3px;
    font-size: 17px;
    font-weight: bold;
}


#main-content section ul li{
    margin: 20px 0px;
}


.column{
    padding-left:15px;
    margin-left: 2px;
    float: left;
    width:33%;
    overflow: auto;
}

.column-pic {
    width:100%;
    margin: 30px auto;
}

#causes{
    width:90%;
    height:30%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#bear{
    width:60%;
    height:30%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#drink{
    width:70%;
    height:30%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.column h2{
    text-align: center;
}

footer{
    margin: 30px 75px;
    clear:both;
}

footer p{
    text-align:left;
}

@media (max-device-width: 600px) {

    h1{
        font-size: 30px;
    }

    #menu-bar {
        font-size: 15px;
        padding: 0px;
    }
  
    #menu-bar ul li{
        width: 100%;
        display: block;
    }

    .submenu {
        position:relative;
        display: none;
        font-size: 11px;
        padding:0px;
        border-radius: 10px;
        z-index: 1;
    }
    
    #menu-bar ul li:hover .submenu ul li{
        text-align: center;
        width: 40px;
        margin-top: 10px;
    }
    
    #main-pic{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }    

    #main-content{
        flex-direction: column;
        height: auto;
        margin: 0px;
    }

    #main-content{
        width: 93%;
        display: flex;
        height: auto;
        margin: 0px auto 20px auto;
        position: relative;
        padding: 15px;
        border-radius: 20px;
        background-color: rgb(109, 171, 230);
    }
    
    .column{
        width: 100%;
        }
}

@media (min-device-width:600px) and (max-device-width: 1024px) and (orientation: portrait) {
    #menu-bar ul li{
        width: 100%;
    }

    #menu-bar ul li:hover .submenu ul li{
        text-align: left;
    }
}

@media (max-device-width: 1024px) and (orientation: landscape) {
    #menu-bar ul li:hover .submenu ul li{
        text-align: center;
        width: 80%;
    }
}